/* Embla Carousel */
.embla {
  overflow: hidden;
  width: 100%;
  touch-action: pan-y;
}

.embla__container {
  display: flex;
  will-change: transform;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 100%;
}

body {
  margin: 0;
}
html,
body {
  overflow-x: hidden;
  overscroll-behavior: none;
}
html {
  overflow-y: scroll;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
